In [53]:
import numpy as np
from sklearn.cluster import KMeans
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import style
import scipy
import datetime

In [54]:
data=pd.read_csv("LDOS-CoMoDa rating3and4and5moviecount.csv")

In [55]:
f1 = data['userID'].values
f2 = data['movieYear'].values
f2 = data['moviecount'].values

In [56]:
X = np.array(list(zip(f1, f2, f3)))
kmeans = KMeans(n_clusters=6).fit(X)
kmeans.fit(data.values)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=6, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [57]:
data['clusters'] = kmeans.fit_predict(X)
data.head()

   userID  movieYear  moviecount  clusters
0      15       1942           1         0
1      15       1944           1         0
2      15       1948           1         0
3      15       1952           1         0
4      15       1953           1         0

In [58]:
data.to_csv("LDOS-CoMoDa rating3and4and5moviecountwithcluster.csv")

In [59]:
data.clusters.value_counts()

0    248
5    166
1     81
2     80
4     78
3     65
Name: clusters, dtype: int64

In [60]:
data.loc[data['clusters'] == 0].to_csv("LDOS-CoMoDa rating3and4and5moviecountwithcluster_0.csv")

In [61]:
data.loc[data['clusters'] == 1].to_csv("LDOS-CoMoDa rating3and4and5moviecountwithcluster_1.csv")

In [62]:
data.loc[data['clusters'] == 2].to_csv("LDOS-CoMoDa rating3and4and5moviecountwithcluster_2.csv")

In [63]:
data.loc[data['clusters'] == 3].to_csv("LDOS-CoMoDa rating3and4and5moviecountwithcluster_3.csv")

In [64]:
data.loc[data['clusters'] == 4].to_csv("LDOS-CoMoDa rating3and4and5moviecountwithcluster_4.csv")

In [65]:
data.loc[data['clusters'] == 5].to_csv("LDOS-CoMoDa rating3and4and5moviecountwithcluster_5.csv")

In [89]:
data.loc[data['clusters'] == 6].to_csv("datayear1withcluster_6.csv")

In [90]:
data.loc[data['clusters'] == 7].to_csv("datayear1withcluster_7.csv")

In [91]:
data.timestamp.value_counts()

2000    904175
2001     68628
2002     24053
2003      3353
Name: timestamp, dtype: int64